@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --color-bg: #1A1A1D;
    --color-dark-purple: #3B1C32;
    --color-mid-purple: #6A1E55;
    --color-light-purple: #A64D79;
    --color-dark-green: #0B2F15;
    --color-mid-green: #034110;
    --color-light-green: #188530;

}
* {
    letter-spacing: 1.5px;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: var(--color-bg);
    color: var(--color-light-purple);
    padding: 60px 0;
}

body > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header div {
    position: relative;
    width: 440px;
    height: 440px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: var(--color-dark-purple) 10px solid;
}
header nav ul {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 10px dotted var(--color-light-purple);
    position: relative;
    animation: rotate-links 15s linear infinite;
}
header nav ul li {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--color-light-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in;
    animation: rotate-links 15s linear infinite reverse;
}
header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;

    transition: all 0.2s ease-out;
}
header nav ul li a img {
    width: 90%;
    height: 90%;
}

.link-github {
    top: -35px;
    left: calc(50% - 35px);
}
.link-telegram {
    right: -40px;
    top: calc(50% - 35px);
}
.link-email {
    bottom: -40px;
    left: calc(50% - 35px);
}
.link-linkedin {
    left: -40px;
    bottom: calc(50% - 35px);
}
.link-github a {
    width: 80%;
    height: 80%;
}
.link-telegram a, .link-email a {
    width: 70%;
    height: 70%;
}
header nav ul li a:hover, header nav ul li a:active {
    transform: scale(1.1);
}







@keyframes rotate-links {
    0% {
        transform: rotate(0deg);
    }    
    100% {
        transform: rotate(360deg);
    }
}